*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(288ae7fcf1849c89f8d4c201190012e8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button{
    margin: 1.5rem;
    color: aliceblue;
    background-color: blueviolet;
    padding: 1.0rem;
    font-size: 1.5rem;
    border: none;
}
#modalfigure{
    background-color: aliceblue;
    position: absolute;
    top: 35%;
    margin-left: 10%;
    padding: 10%;
    display: none;
}
#modalfigure.modal{
    display: block;
}
